:host {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding: 5px 15px;
    border: 1px solid grey;

    > div {
        margin-left: 15px;
        display: flex;

        button {
            &:hover {
                cursor: pointer;
            }
        }
    }
}