<form [formGroup]="articleFormGroup" (ngSubmit)="onSubmit()">
    <div>
        <p>Title</p>
        <input type="text" [formControl]="headingControl">
    </div>
    <div>
        <p>Description</p>
        <textarea [formControl]="contentControl"></textarea>
    </div>
    <div>
        <label>Image</label>
        <input type="radio" name="imgType" value="image" checked [formControl]="imgTypeControl">
        <label>Url</label>
        <input type="radio" name="imgType" value="url" [formControl]="imgTypeControl">
        <input type="text" [formControl]="imgUrlControl">
    </div>

    <div>
        <p>Date</p>
        <input type="text" [formControl]="dateControl">
    </div>
    <div>
        <p>Author</p>
        <input type="text" [formControl]="authorControl">
    </div>
    <div>
        <p>Source</p>
        <input type="text" [formControl]="sourceControl">
    </div>
    <button type="submit" [disabled]="isDisabled">Save</button>
</form>

<button><a routerLink="/">Cancel</a></button>
