// --- Screen sizes
$mobile-screen: 360px;
$tablet-screen: 768px;
$normal-screen: 1200px;
$wide-screen: 1900px;

// --- Colors
$topbar-color: #00264d;
$topbar-font-color: #ffc266;
$topbar-hover-font-color: white;


// --- Layout
$topbar-height: 50px;
$main-container-margin-top: $topbar-height;

