@font-face {
    font-family: 'abelregular';
    src: url('../assets/fonts/abel-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'news_cyclebold';
    src: url('../assets/fonts/newscycle-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'news_cycleregular';
    src: url('../assets/fonts/newscycle-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

// font-family: 'News Cycle', sans-serif;
// font-family: 'Abel', sans-serif;
