@import 'mixins';

html {
    font-size: 14px;
    
    @include breakpoint(tablet-screen) {
        font-size: 16px;
    }
    @include breakpoint(normal-screen) {
        font-size: 18px;
    }
    @include breakpoint(wide-screen) {
        font-size: 20x;
    }
    font-family: 'news_cycleregular';
}

body {
    display: grid;
    justify-content: stretch;
    width: 97vw;
    min-height: 100vh;
    grid-template-rows: 95% 5%;
    grid-auto-flow: row;
}

