@import 'mixins';

html {
    min-height: 100%;
    font-size: 14px;
    width: 100%;
    
    @include breakpoint(tablet-screen) {
        font-size: 16px;
    }
    @include breakpoint(normal-screen) {
        font-size: 18px;
    }
    @include breakpoint(wide-screen) {
        font-size: 20x;
    }

    font-family: 'news_cycleregular';

    body {
        width: 100%;
        min-height: 100vh;
        flex-flow: column;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .main-content-wrapper {
        margin-top: $body-margin-top;
        display: flex;
        flex-flow: column nowrap;
        min-height: 100%;
        min-width: 100%;
      
        &--hidden {
            display: none;
        }
    }
}



