<div class="news-list__item news">
    <img class='news__image' src={{urlToImage}}>
    <div class="news__content">
        <div class="title-container">
            <h2 class='news-title'>
                <a class="article-link" routerLink={{routerLink}}>{{title}}</a>
            </h2>
            <div *ngIf="renderEditButtons">
                <button><a class="edit-link" routerLink={{editLink}}>Edit</a></button>
                <button (click)="deleteArticle()">Delete</button>
            </div>
        </div>
        <p class='news-description'>{{description}}</p>
        <p classs='news-author'>Author: {{author}}</p>
        <div class='news-info'>
            <span class='news-date'>Date: {{date | date}} | </span>
            <span class="news-source">Source: {{name}}</span>
        </div>
    </div>
</div>