<div *ngIf="article" class="news-list__item news">
    <img class='news__image' src={{article.url}}>
    <div class="news__content">
        <h2 class='news-title'>
            {{article.title}}
        </h2>
        <p class='news-description'>{{article.description}}</p>
        <p classs='news-author'>{{article.author}}</p>
        <div class='news-info'>
            <span class='news-date'>{{article.date}}</span>
            <span class="news-source">{{article.name}}</span>
        </div>
    </div>
</div>

<p *ngIf="!article">
    No such article
</p>

<button><a routerLink="/">Back to news</a></button>
