// --- Screen sizes
$mobile-screen: 360px;
$tablet-screen: 768px;
$normal-screen: 1200px;
$wide-screen: 1900px;

// --- Colors
$topbar-color: #00264d;
$topbar-font-color: #ffc266;
$topbar-hover-font-color: white;


// --- Layout
$topbar-height: 50px;
$body-margin-top: $topbar-height + 15px;
$footer-height: 40px;
$main-height: calc(100vh - #{$footer-height} - #{$body-margin-top});

