@font-face {
    font-family: 'abelregular';
    src: url('src/assets/fonts/abel-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'news_cyclebold';
    src: url('src/assets/fonts/newscycle-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'news_cycleregular';
    src: url('src/assets/fonts/newscycle-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}