@import 'mixins';

html {
    min-height: 100%;
    font-size: 14px;
    width: 100%;
    
    @include breakpoint(tablet-screen) {
        font-size: 16px;
    }
    @include breakpoint(normal-screen) {
        font-size: 18px;
    }
    @include breakpoint(wide-screen) {
        font-size: 20px;
    }

    font-family: 'news_cycleregular';

    // .main-content-wrapper {
    //     margin-top: $body-margin-top;
    //     display: flex;
    //     flex-flow: column nowrap;
    //     min-height: 100%;
    //     min-width: 100%;
      
    //     &--hidden {
    //         display: none;
    //     }
    // }

    // .main{
    //     min-height: $main-height;

    //     &--hidden {
    //         display: none;
    //     }
    // }

    // .error-popup-container {
    //     min-height: $main-height;

    //     &--hidden {
    //         display: none;
    //     }
    // }
}



