:host {
    display: flex;
    flex-flow: column;

    form {
        display: flex;
        flex-flow: row;
        border: 1px solid grey;

        > div {
            margin: 10px;
            text-align: center;
        }
    }

    button {
        margin: 30px 15px;
    }
}
