@import '../../../styles/mixins';

:host {
    display: flex;
    padding: 5px;
    @include breakpoint(tablet-screen) {
        padding: 7px 10px;
    }
    @include breakpoint(wide-screen) {
        padding: 5px 15px;
    }
    background-color: black;
    color: white;
    width: 100%;
    justify-items: center;
    height: $footer-height;
    font-size: 0.9rem;
}
