@import '../../styles/mixins';

:host {
    // height: $topbar-height;
    display: flex;
    flex-flow: column;
    width: 100%;
    // background: $topbar-color;

    .page-title {
        background: $topbar-color;
        display: flex;
        justify-content: center;
        color: white;
        font-size: 2rem;
        text-transform: capitalize;
    }
}