extends layout

block content
  div(class='login-container')
    div(class='login-form')
      h1 Login
      form(method="POST", action='/users/login')      
        label Name:
        input.form-control(name='username', type='text' required)
        label Password:
        input.form-control(name='password', type='password' required)
        input(class='submit-button', type='submit', value='Submit')
        
