<select (change)="onChannelChange($event.target.value)">
    <option value="BBC">BBC</option>
    <option value="CNN">CNN</option>
    <option value="BLOOMBERG">BLOOMBERG</option>
    <option value="FOXNEWS">FOXNEWS</option>
</select>

<div class="filter">
    <input type="text">
    <button>Filter</button>
</div>

<label>
    <input type="checkbox"> Only created by me
</label>

<button><a routerLink="/add">Add article</a></button>

<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus facere perferendis commodi consequuntur! Porro deserunt beatae fugiat obcaecati iusto corporis! Numquam ipsam iure similique corporis obcaecati, perspiciatis nihil inventore. Harum?</p>
Quis velit accusamus at debitis alias commodi temporibus dicta doloribus, ut labore perspiciatis aut animi quidem, nulla sint libero omnis facere accusantium voluptatum quasi voluptate maxime totam. Ducimus, quisquam dolorem?
Suscipit perferendis reprehenderit unde nobis? Inventore quaerat facere, veritatis, aspernatur nam odit quasi itaque cupiditate quas vel obcaecati fugit et, quis asperiores minima repellendus sed eius. Aut amet ex fugiat.
Ad aspernatur delectus provident totam fugit tempore eveniet voluptatibus sapiente molestias reiciendis voluptates numquam magni, obcaecati dolorum soluta at atque aut aperiam! Quaerat, minus ab doloribus ut ea tenetur iure? -->