:host {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 5px 15px;
    border: 1px solid grey;

    .filter {
        > button {
            margin-left: 15px;
        }
    }

}
