<select (change)="onChannelChange($event.target.value)" [disabled]="isSelectDisabled">
    <option value="BBC">BBC</option>
    <option value="CNN">CNN</option>
    <option value="BLOOMBERG">BLOOMBERG</option>
    <option value="FOXNEWS">FOXNEWS</option>
</select>

<div class="filter">
    <input type="text">
    <button>Filter</button>
</div>

<label>
    <input type="checkbox" (change)="onShowOnlyMyArticlesChange($event.target.checked)"> Only created by me
</label>

<button><a routerLink="/add">Add article</a></button>
